* {
  box-sizing: border-box;
}

body{
	font-family: 'Fjalla One', sans-serif;
	font-size: 10px;
	font-weight: bolder;
	text-align:center;
	background-image: url("../star-wars-background.jpg.");
} 


.logo{
	width: 50px;
	height: 50px;
}


header{
	font-size: 48px;
  	text-shadow: 4px 4px 4px #aaa;
	text-align:center;
}

.characterPic{
	width:150px;
	height:150px;
	/*padding: 10px;
	margin: 10px;*/
}

.enemyList
{
	background-color: red;
}	

.userCharacter
.enemyCharcter{
	font-size: 50px;
}

.damageDetails{
	text-align:center;
	font-size: 20px;
	padding: 30px;
	color: #ffff00;
}

.enemyInstruction,
.gameInstruction{
	font-size: 25px;
	color: #ffff00;
}

.enemyInstruction,
.attack{
	display: none;
}